html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

h1 > a > .icon.icon-link:before,
h2 > a > .icon.icon-link:before,
h3 > a > .icon.icon-link:before {
  content: '#';
  margin-left: 0.7rem;
  font-size: 1.2rem;
}

.icon-link {
  color: var(--muted-foreground);
}

pre {
  @apply my-5 overflow-x-scroll rounded-lg p-6 font-mono text-sm;
}
